<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="employee; else elseTemplate">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">
            {{ employee!.employeeName }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ employee!.employeeAge + " years" }}
          </h6>
          <p class="card-text">
            <strong>Anual Salary: </strong
            >{{ employee!.employeeSalary | currency }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate> </ng-template>
  </div>
</div>
